<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.ateam.a_team321">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivitySearch"></activity>
        <activity android:name=".daftarAgendesa.TambahTuanRumahActivity" />
        <activity android:name=".daftarAgendesa.DaftarAgenDesaActivity4" />
        <activity android:name=".daftarAgendesa.DaftarAgenDesaActivity3" />
        <activity android:name=".daftarAgendesa.DaftarAgenDesaActivity2" />
        <activity android:name=".daftarAgendesa.DaftarAgenDesaActivity" />
        <activity android:name=".welcomeAndFriend.WelcomeActivity" />
        <activity android:name=".LoginAndFriend.REgisterActivity" />
        <activity android:name=".LoginAndFriend.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BayarFragment" />
        <activity android:name=".PesanPaketActivity" />
        <activity android:name=".DetailPaketActivity" />
        <activity android:name=".MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>